
08_quartus/db
08_quartus/greybox_tmp
08_quartus/incremental_db
08_quartus/output_files
08_quartus/simulation
08_quartus/speech_recognition.qws

05_modelsim/*.mif
05_modelsim/*.hex
05_modelsim/*.ver
05_modelsim/transcript
05_modelsim/wlft*
05_modelsim/*.wlf
05_modelsim/*.txt
05_modelsim/*.del
05_modelsim/*.inc
05_modelsim/*.vcd
05_modelsim/*.vstf
05_modelsim/altera_*
05_modelsim/*.ini
05_modelsim/libraries
05_modelsim/work